<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Human Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" size-md="4" push-md="8">
          <div class="padding-small">
            <ion-button expand="block" (click)="openHrDownload()" color="secondary">
              Payslip | EA Form | PCB
              <ion-icon name="receipt-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button expand="block" (click)="openHrSystem()" color="tertiary">
              Open HR System
              <ion-icon slot="end" name="open-outline"></ion-icon>
            </ion-button>
          </div>

          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title>Away This Week</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding"
              *ngIf="leaveInCluster$ | async as staffsOnLeaveList; else loadingStaffOnLeave">
              <ng-container *ngIf="staffsOnLeaveList.length > 0; else noStaffOnLeave">
                <ion-list class="ion-no-padding" *ngFor="let staffOnLeaveGroupedByDate of staffsOnLeaveList">
                  <ion-item-divider color="light" class="ion-no-padding">
                    <ion-label color="secondary" lines="none">
                      <h5 class="ion-padding-start ion-padding-end glob-text-bold">
                        {{staffOnLeaveGroupedByDate.date | date: 'EEE, dd MMM yyy'}}
                      </h5>
                    </ion-label>
                  </ion-item-divider>
                  <ion-item *ngFor="let staffOnLeave of staffOnLeaveGroupedByDate.value; let last=last"
                    [lines]="last? 'none': 'inset'">
                    <ion-avatar slot="start">
                      <img [src]="staffOnLeave.PHOTO">
                    </ion-avatar>
                    <ion-label>
                      <h3 class="ion-no-margin glob-text-bold">{{staffOnLeave.FULLNAME}}</h3>
                      <p class="text-bold">{{staffOnLeave.LEAVEDATE | date: 'EEE, dd MMM yyy'}}</p>
                      <p><span class="text-bold">Email: </span> <a class="colored-text text-bold"
                          href="mailto:{{staffOnLeave.EMAIL}}">{{staffOnLeave.EMAIL}}</a></p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ng-container>
              <ng-template #noStaffOnLeave>
                <message-with-svg messageTitle="No One is On Leave In Your Cluster!"
                  messageContent="Yaay! All of your colleagues in your cluster are in office this week"
                  imageUrl="assets/img/happy.svg" wrapperOffset="3" wrapperSize="6">
                </message-with-svg>
              </ng-template>
            </ion-card-content>
            <ng-template #loadingStaffOnLeave>
              <ion-item *ngFor="let _ of skeletons">
                <ion-skeleton-text animated style="line-height: 35px; width: 100%;"></ion-skeleton-text>
              </ion-item>
            </ng-template>
          </ion-card>
          <ng-container *ngIf="pendingApproval$ | async as pendingApprovals;">
            <ng-container *ngIf="pendingApprovals.length > 0;">
              <ion-card class="ion-margin-top">
                <ion-card-header color="primary">
                  <ion-card-title>Pending My Approval</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-list class="ion-no-padding">
                    <ion-item *ngFor="let pendingApproval of pendingApprovals; let last=last"
                      [lines]="last ? 'none' : 'inset'">
                      <ion-label>
                        <h2 class="text-bold">{{ pendingApproval.FULLNAME }}</h2>
                        <p>
                          <ion-icon class="text-bold" name="pricetags"></ion-icon>
                          {{ pendingApproval.LEAVETYPE }}
                        </p>
                        <p>
                          <ion-icon class="text-bold" name="calendar"></ion-icon>
                          {{pendingApproval.LEAVEDATE | date: 'EEE, dd MMM yyy'}}
                        </p>
                      </ion-label>
                      <ion-badge color="danger">{{pendingApproval.STATUS}}</ion-badge>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ng-container>
          </ng-container>
        </ion-col>
        <ion-col size="12" size-md="8" pull-md="4">
          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title>Leave History</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ng-container *ngIf="history$ | async as historyList; else loadingHistory">
                <ng-container *ngIf="historyList.length > 0; else noHistoryAvailable">

                </ng-container>
                <ng-template #noHistoryAvailable>
                  <div class="ion-margin-top">
                    <message-with-svg messageTitle="Your leave history is not available!"
                      messageContent="Your leave history is empty. If you believe that there is an issue with that, please contact us via the feedback page"
                      imageUrl="assets/img/empty.svg" wrapperOffset="3" wrapperSize="6">
                    </message-with-svg>
                  </div>
                </ng-template>
                <ion-list *ngFor="let historyGroupedByMonth of historyList" class="ion-no-padding">
                  <ion-item-divider color="light">
                    <ion-label color="secondary" class="glob-text-bold">
                      {{historyGroupedByMonth.date}}
                    </ion-label>
                  </ion-item-divider>
                  <ng-container *ngFor="let historyItem of historyGroupedByMonth.value; let last=last">
                    <ion-item [lines]="last ? 'none' : 'inset'" [ngClass]="{
                          'approved': historyItem.STATUS === 'Approved',
                          'pending': historyItem.STATUS === 'PENDING',
                          'cancelled': !(historyItem.STATUS === 'Approved' || historyItem.STATUS === 'PENDING')
                      }">
                      <ion-label>
                        <h4 class="glob-text-bold">{{historyItem.LEAVE_TYPE}}</h4>
                        <p class="glob-text-bold" *ngIf="historyItem.LEAVE_DATE">
                          {{historyItem.LEAVE_DATE | date : 'EEE, dd MMM yyy'}}
                        </p>
                        <p *ngIf="historyItem.RESPONSE_DATE">
                          *Response Date: {{historyItem.RESPONSE_DATE | date : 'EEE, dd MMM yyy'}}
                        </p>
                      </ion-label>
                      <ion-badge slot="end">{{historyItem.STATUS}}</ion-badge>
                    </ion-item>
                  </ng-container>

                </ion-list>
              </ng-container>
              <ng-template #loadingHistory>
                <ion-item *ngFor="let _ of skeletons">
                  <ion-skeleton-text animated style="line-height: 35px; width: 100%;"></ion-skeleton-text>
                </ion-item>
              </ng-template>
              <ng-template #noLeaves>
                <message-with-svg messageTitle="No leaves To Show!"
                  messageContent="There are no leaves to display for this account." imageUrl="assets/img/empty.svg"
                  wrapperOffset="3" wrapperSize="6">
                </message-with-svg>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
