<ion-header>
  <ion-toolbar>
    <ion-title>Attendance Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <div class="module-text">
        <h4>{{ module.MODULE_ATTENDANCE }}</h4>
        <p>{{ module.SUBJECT_CODE }}</p>
      </div>

      <ion-row class="ion-text-center small-margin-bottom ">
        <ion-col size="4" class="ion-no-padding">
          <ion-card class="ion-no-margin ">
            <h6 class="small-margin">{{ module.TOTAL_CLASSES - module.TOTAL_ABSENT }}</h6>
            <p class="glob-text-bold glob-success-text small-margin">Present</p>
          </ion-card>
        </ion-col>

        <ion-col size="4" class="ion-no-padding">
          <ion-card class="ion-no-margin ion-margin-start ion-margin-end">
            <h6 class="small-margin">{{ module.TOTAL_ABSENT }}</h6>
            <p class="glob-text-bold glob-danger-text small-margin">Absent</p>
          </ion-card>
        </ion-col>

        <ion-col size="4" class="ion-no-padding">
          <ion-card class="ion-no-margin">
            <h6 class="small-margin">{{ module.TOTAL_CLASSES }}</h6>
            <p class="glob-text-bold small-margin">Total Classes</p>
          </ion-card>
        </ion-col>
      </ion-row>

      <!--Exam Eligibility muted until further notice-->
<!--      <ion-row class="ion-text-center small-margin-bottom ion-no-padding">-->
<!--        <ion-col size="12" class="ion-no-padding">-->
<!--          <ion-card class="ion-no-margin">-->
<!--            <h6 class="small-margin"-->
<!--              [ngClass]="module.EXAM_ELIGIBILITY === 'Eligible' ? 'glob-success-text' : 'glob-danger-text'">{{-->
<!--              module.EXAM_ELIGIBILITY }}</h6>-->
<!--            <p class="glob-text-bold small-margin">Exam Eligibility</p>-->
<!--          </ion-card>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

      <ion-card class="ion-no-margin">
        <ion-card-content>
          <ng-container *ngIf="(details$ | async) as details; else loadCalendar">
            <ion-calendar class="glob-calendar" (change)="calendarOnChange($event)" [options]="options"
              [type]="'string'" [format]="'YYYY-MM-DD'" [(ngModel)]="openDate">
            </ion-calendar>
            <ng-container *ngIf="showDetails; else noClick">
              <ion-item *ngFor="let detail of detailsList; let isLast = last" [lines]="isLast ? 'none' : 'full'"
                mode="md">
                <ion-label>
                  <h3 class="glob-text-bold">{{ detail.CLASS_TYPE }}</h3>
                  <p>{{ detail.TIME_FROM + ' - ' + detail.TIME_TO }}</p>
                </ion-label>
                <ion-note slot="end" [ngClass]="detail.ATTENDANCE_STATUS | attendanceStatus:true">
                  {{ detail.ATTENDANCE_STATUS | attendanceStatus:false }}
                </ion-note>
              </ion-item>
            </ng-container>
            <ng-template #noClick>
              <ion-list>
                <ion-item lines="none">
                  <ion-label color="primary" class="ion-text-center ion-margin-top">
                    <p>Please select a day to view more details</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-template>
          </ng-container>
          <ng-template #loadCalendar>
            <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>

            <ion-item lines="none">
              <ion-label>
                <ion-skeleton-text animated style="width: 40%; line-height: 15px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
              </ion-label>
              <ion-skeleton-text animated style="width: 10%; line-height: 20px"></ion-skeleton-text>
            </ion-item>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
