<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar
      #searchbar
      [formControl]="searchControl"
      [placeholder]="placeholder"
      (ionInput)="searchbar.value = searchbar.value.toUpperCase()"
      class="search-bar-style"
      clear-icon="close-circle-outline"
    >
    </ion-searchbar>
    <ion-buttons slot="end" class="close-button">
      <ion-button fill="clear" (click)="select(null)">
        <ion-icon name="close" slot="icon-only" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="glob-container search-modal">
  <ng-container *ngIf="studentIntake && !searchbar.value">
    <ion-button mode="md" (click)="select(studentIntake)" class="ion-no-margin ion-margin-start suggestion-button" fill="outline" color="medium" size="default">
      <p class="suggestion-intake-text">
        {{ studentIntake }}
      </p>
    </ion-button>
  </ng-container>
  <div class="search-modal-content title">Intake Code</div>
  <ng-container *ngIf="searchItems$ | async as items; else loading">
    <ng-container *ngIf="items.length > 0; else noItems">
      <ion-item
        *ngFor="let item of items"
        lines="none"
        button="true"
        detail="false"
        (click)="select(item)"
      >
        {{ item }}
        <ng-container *ngIf="defaultItems.includes(item) && !isSearchActive">
          <ion-button fill="clear" slot="end" color="medium" (click)="removeItem(item)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-item>
      <ion-text fill="clear" class="search-history-text" *ngIf="!searchControl.value" (click)="clearSearchHistory()" color="medium">
        Clear Search History
      </ion-text>
    </ng-container>

    <ng-template #noItems>
      <ng-container
        *ngIf="items.length < 1 && !searchControl.value; else itemNotFound"
      >
        <message-with-svg
          imageUrl="assets/img/search.svg"
          messageTitle="Search for an intake code to view the timetable schedule"
          wrapperSize="4"
          wrapperMarginTop="5rem"
          wrapperOffset="4"
        >
        </message-with-svg>
      </ng-container>
      <ng-template #itemNotFound>
        <h2 class="text-message">
          No items found for "{{ searchControl.value }}"
        </h2>
      </ng-template>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <div class="loading-spinner">
      <ion-spinner color="primary"></ion-spinner>
      <p class="loading-text glob-text-bold">Loading Results...</p>
    </div>
  </ng-template>
</ion-content>
