.text-message {
  text-align: center;
  color: var(--ion-color-medium);
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .loading-text {
    margin-top: 20px;
    text-align: center;
    width: 250px;
    color: var(--ion-color-primary);
    font-size: 18px;
  }
}
.search-history-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 10px;
  cursor: pointer;
}

.suggestion-button {
  --border-radius: 15px !important;
  --border-width: 0.1px;
  margin: 0.3rem 0 0.5rem 1rem;
}

.suggestion-intake-text {
  font-size: 13px;
  color: medium;
}
