.menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  overflow-y: scroll;
  max-height: 90vh;
  background-color: var(--ion-tab-bar-background,
      var(--ion-background-color, #444));
  padding: 0 32px;
  width: 100%;

  &.large-device-menu {
    border-top: 56px solid transparent;
  }

  &.small-device-menu {
    z-index: 2000;
  }

  &.search-bar-open {
    max-height: 85vh;
  }

  a {
    text-decoration: none;
    color: var(--ion-text-color);
  }

  a:hover {
    color: var(--ion-color-tertiary);
  }

  .parent::after {
    content: " » ";
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.active-tab {
  border-top: 2px solid var(--ion-color-primary);
}

.tab-label {
  font-size: 0.6rem;
}

ion-tab-button {
  max-width: inherit;
}

ion-searchbar {
  --box-shadow: 0;
}

.tab-bar-content-left {
  margin-left: 1rem;
}

.tabs-searchbar {
  width: 277px;
  --border-radius: 10px;
  text-align: left;
  --background: var(--ion-color-step-100);
  --placeholder-color: var(--ion-color-step-950);
  caret-color: transparent;
}

.tab-icons {
  font-size: 1.6rem;
}

.tab-icon {
  font-size: 1.375rem;
}

.logo-img {
  padding: 5px 0 0 0;
  height: 45px;
}

.large-screen-logo {
  -webkit-user-drag: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .active-tab {
    border-top: 0;
    border-bottom: 2px solid var(--ion-color-primary);
  }
}

@media screen and (min-width: 1100px) {
  .tab-bar-content-left {
    margin-right: 22.5rem;
  }

  ion-tab-button {
    max-width: 100px;
  }
}
