<ion-header *ngIf="!hideHeader">
  <ion-toolbar>
    <ion-title>
      APCard
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="4" push-md="8">
        <ion-card class="ion-no-margin ion-margin-top sticky">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle color="medium" class="glob-text-bold">
              Balance
            </ion-card-subtitle>
            <ng-container *ngIf="!noBalance; else none">
              <!-- Balance may return 0 which is a falsy value therefore need to check "undefined" instead -->
              <ion-card-title class="glob-text-bold"
                              [color]="balance >= 2 ? 'success' : balance < 2 && balance > 0 ? 'warning' : 'danger'"
                              *ngIf="balance !== undefined; else loadBalance">
                {{ balance | currency:'RM' }}
              </ion-card-title>
              <ng-template #loadBalance>
                <ion-card-title>
                  <ion-skeleton-text class="glob-margin-auto" animated style="line-height: 25px; width: 30%;">
                  </ion-skeleton-text>
                </ion-card-title>
              </ng-template>
            </ng-container>
            <ng-template #none>
              <ion-card-title class="glob-text-bold" color="danger">
                RM 0.00
              </ion-card-title>
            </ng-template>
            <ion-button class="ion-margin-top" size="small" (click)="generateMonthlyTransactionsPdf()"
              [disabled]="balance ? false : true">
              Generate PDF
              <ion-icon slot="end" name="print"></ion-icon>
            </ion-button>
          </ion-card-header>

          <ion-progress-bar [color]="balance >= 2 ? 'success' : balance < 2 && balance > 0 ? 'warning' : 'danger'"
            [value]="1"></ion-progress-bar>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-md="8" pull-md="4">
        <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom">
          <ion-accordion-group>
            <ion-accordion value="filters" [disabled]="noBalance || balance === undefined ? true : false">
              <ion-item slot="header">
                <ion-icon class="ion-padding-end" name="filter"></ion-icon>
                <ion-label>Filters</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-item [disabled]="filterObject.showThisMonthOnly">
                  <ion-label position="stacked">Year</ion-label>
                  <ion-select [(ngModel)]="filterObject.year" (ngModelChange)="doRefresh()" interface="popover" mode="md">
                    <ion-select-option *ngFor="let year of transactionYears" [value]="year">{{ year }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Type</ion-label>
                  <ion-select [(ngModel)]="filterObject.type" (ngModelChange)="doRefresh()" interface="popover" mode="md">
                    <ion-select-option value="all">All</ion-select-option>
                    <ion-select-option value="credit">Credit</ion-select-option>
                    <ion-select-option value="debit">Debit</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>This Month</ion-label>
                  <ion-toggle [(ngModel)]="filterObject.showThisMonthOnly" (ngModelChange)="doRefresh()"></ion-toggle>
                </ion-item>

                <ion-row>
                  <ion-col>
                    <ion-button expand="block" color="danger" (click)="resetFilters()"
                      [disabled]="!(filterObject.year !== currentYear || filterObject.type !== 'all' || filterObject.showThisMonthOnly)">
                      Reset
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>

        <ng-container *ngIf="(transaction$ | async) as transactions; else loading">
          <ng-container *ngIf="transactions.length > 0 else noTransactions">
            <ion-card class="ion-no-margin">
              <ion-card-content class="ion-no-padding">
                <ion-virtual-scroll [items]="transactions" approxItemHeight="92px" approxHeaderHeight="46" approx
                  [headerFn]="seperatebyMonth">
                  <ion-item-divider lines="none" color="light" *virtualHeader="let header" mode="md">
                    <ion-label class="glob-text-bold">
                      {{ header }}
                    </ion-label>
                  </ion-item-divider>
                  <ion-item *virtualItem="let transaction" mode="md">
                    <ion-label>
                      <h4 class="glob-text-bold">
                        {{ transaction.ItemName }}
                      </h4>
                      <p>
                        {{ transaction.SpendDate | date: "EEE, d MMM" }} @
                        {{ todayDate + ' ' + transaction.SpendTime | timeRefresher: timeFormatChangeFlag | slice: 0 :-8
                        }}
                      </p>
                    </ion-label>
                    <ion-note slot="end" [color]="transaction.SpendVal >= 0 ? 'success' : 'danger'">
                      <span>{{ transaction.SpendVal >= 0 ? '+' : '-' }}</span>
                      {{ getAbsoluteValue(transaction.SpendVal) | currency: 'RM' }}
                    </ion-note>
                  </ion-item>
                </ion-virtual-scroll>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ng-container>
        <ng-template #loading>
          <ion-card class="ion-no-margin">
            <ng-container *ngFor="let _ of skeleton">
              <ion-item-divider lines="none" color="light" mode="md">
                <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
              </ion-item-divider>

              <ion-item *ngFor="let _ of skeleton; let last = last" [lines]="last ? 'none' : null">
                <ion-label>
                  <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 30%; height: 15px"></ion-skeleton-text>
                </ion-label>
                <ion-note slot="end" style="width: 5%;">
                  <ion-skeleton-text animated style="height: 15px"></ion-skeleton-text>
                </ion-note>
              </ion-item>
            </ng-container>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>

    <ng-template #noTransactions>
      <ion-card class="ion-no-margin">
        <message-with-svg messageTitle="No Transactions Available!"
          messageContent="APCard is not activated or there was no transaction made."
          imageUrl="assets/img/person_with_card.svg" wrapperSize="5" wrapperOffset="4">
        </message-with-svg>
      </ion-card>
    </ng-template>
  </div>
</ion-content>
