.date-picker-modal {
  --width: 350px;
  --height: 450px;
  --border-radius: 10px;

  ion-datetime {
    height: 450px;
    border-radius: 10px;
  }
}

.danger-alert {
  .alert-wrapper {
    .alert-head {
      border-bottom: 1px solid var(--ion-color-danger);
    }

    .alert-message {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }

    .alert-button-group {
      .cancel {
        color: var(--ion-color-medium);
      }

      .danger {
        color: var(--ion-color-danger);
      }
    }
  }
}

.success-alert {
  .alert-wrapper {
    .alert-head {
      border-bottom: 1px solid var(--ion-color-success);
    }

    .alert-message {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }

    .alert-button-group {
      .cancel {
        color: var(--ion-color-medium);
      }

      .success {
        color: var(--ion-color-success);
      }
    }
  }
}

// .alert-wrapper {
//   .alert-button-group {
//     .cancel {
//       color: var(--ion-color-medium);
//     }

//     .success {
//       color: var(--ion-color-success);
//     }

//     .danger {
//       color: var(--ion-color-danger);
//     }
//   }
// }

.mark-all .action-sheet-button {
  &.Y {
    background: #28a745;
    color: #fff;
  }

  &.L {
    background: #ffc409;
    color: #fff;
  }

  &.N {
    background: #dc3545;
    color: #fff;
  }
}

// .danger-alert {
//   .alert-wrapper {
//     .alert-head {
//       border-bottom: 2px solid red;
//       // background-color: var(--ion-color-danger);

//       .alert-title,
//       .alert-sub-title {
//         // color: #FFFFFF !important;
//       }
//     }

//     .alert-message {
//       padding-top: 10px !important;
//       padding-bottom: 0 !important;
//     }

//     .alert-button-group {
//       .main {
//         color: var(--ion-color-danger);
//       }
//     }
//   }
// }

// TODO: Remove this once migrated to ionic date picker
.native-input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

.native-input[type=time]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
