<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar
      #searchbar
      placeholder="Search"
      [(ngModel)]="searchTerm"
      class="search-bar-style"
      clear-icon="close-circle-outline"
    >
    </ion-searchbar>
    <ion-buttons slot="end" class="close-button">
      <ion-button fill="clear" (click)="selectMenu(null, null)">
        <ion-icon name="close" slot="icon-only" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="search-modal">
  <div class="search-modal-content title">Global Search</div>
  <ng-container *ngIf="searchTerm; else notSearching">
    <ng-container *ngIf="(menus | fuse:searchTerm:options) as filteredMenu">
      <ng-container *ngIf="filteredMenu.length > 0; else notFound">
        <ion-item
          lines="none"
          *ngFor="let m of filteredMenu"
          button="true"
          (click)="selectMenu(m, m.url, m.attachTicket)"
        >
          <ion-icon
            [name]="m.parents.length > 0 ? 'albums-outline' : 'grid-outline'"
            slot="start"
            color="primary"
          >
          </ion-icon>
          <ion-label>
            <span *ngFor="let parent of m.parents" class="parent glob-fw-600"
              >{{ menusTitle[parent] }}</span
            >
            <ion-text
              class="glob-fw-600"
              [color]="m.parents.length > 0 ? 'medium' : undefined"
              >{{ m.title }}
            </ion-text>
            <p>{{ m.group }}</p>
          </ion-label>
        </ion-item>
      </ng-container>

      <ng-template #notFound>
        <h2 class="text-message danger">
          No items found for "{{ searchTerm }}"
        </h2>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #notSearching>
    <ion-row
      class="search-history-row"
    > 
      <ion-col
        size="auto"
        *ngFor="let item of searchHistory;"
        (click)="selectMenu(item, item.url, item.attachTicket)"
      > 
        <ion-button 
          fill="outline" 
          color="medium" 
          size="small" 
          class="suggestion-button"
        >
        <p class="suggestion-text">
          {{ item.title }}
        </p>
        </ion-button>
      </ion-col>
    </ion-row>
    <message-with-svg
      imageUrl="assets/img/search.svg"
      messageTitle="Try 'Exam Schedule' or 'Holidays'"
      wrapperSize="4"
      wrapperMarginTop="2rem"
      wrapperOffset="4"
    >
    </message-with-svg>
  </ng-template>
</ion-content>
