.text-message {
  text-align: center;
  color: var(--ion-color-medium);

  &.danger {
    color: var(--ion-color-danger);
  }
}

.parent::after {
  content: " » ";
}

span,
ion-text {
  font-size: 14px;
}


.search-history-row{
  padding: 0px 10px 0px 10px;
}

.suggestion-button {
  --border-radius: 10px !important;
  --border-width: 0.1px;
}

.suggestion-text {
  font-size: 13px;
  color: medium;
}