<ion-header>
  <ion-toolbar>
    <ion-title>Exam Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="4" push-md="8">
        <ion-card mode="md" class="ion-no-margin ion-margin-bottom notice-card">
          <ion-card-header>
            <ion-card-title color="danger" class="glob-text-bold ion-text-center">
              IMPORTANT NOTICE
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="medium">
              <p class="glob-text-bold ion-padding-bottom">
                All examinations will be conducted physically at the Exam Hall at APIIT campus using your own device. You are required to come 30 minutes earlier than the scheduled exam.
              </p>
              <p class="glob-text-bold ion-padding-bottom">
                Items to bring on the examination day:
              </p>
              <p class="glob-text-bold">
                1) Laptop with cable for charging
              </p>
              <p class="glob-text-bold">
                2) Student ID Card
              </p>
              <p class="glob-text-bold ion-padding-bottom">
                3) Stationery
              </p>
              <p class="glob-text-bold">
                You may refer to <a href="https://apiit.atlassian.net/wiki/spaces/ITSM/pages/2229108760/Respondus+Lockdown+Browser+FAQ+and+Installation+Guide">FAQ</a> for details
              </p>
            </ion-text>
          </ion-card-content>
        </ion-card>

        <ion-card mode="md" class="ion-no-margin">
          <ion-card-header>
            <ion-card-title class="glob-text-bold" color="danger">Reminder</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="ion-padding-bottom">
              By using the exam schedule service in APSpace, you are agreeing to our exam guidelines and
              procedures.
              Please make sure to read them carefully.
            </p>
            <div class="ion-text-center">
              <ion-button color="danger" fill="outline" (click)="openGuidlines()">
                Examination Guideline
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-md="8" pull-md="4">
        <ng-container *ngIf="intake; else noIntake">
          <ng-container *ngIf="(exams$ | async) as exams; else loading">
            <ng-container *ngIf="exams.length > 0; else noExams">
              <ion-card class="ion-no-margin">
                <ion-item-divider color="light" mode="md">
                  <ion-label class="glob-text-bold">
                    Exam Schedule - <span class="glob-primary-text">{{ intake }}</span>
                  </ion-label>
                  <ion-button fill="clear" size="small" slot="end" (click)="openIntakeSearch()">
                    Change
                  </ion-button>
                </ion-item-divider>

                <ion-card-content class="ion-no-padding" *ngFor="let exam of exams; let isLast = last">
                  <ion-item [lines]="!isLast ? 'full' : 'none'">
                    <ion-label class="glob-white-space-normal">
                      <ion-row class="ion-no-padding">
                        <ion-col size="12" class="ion-no-padding small-padding-left">
                          <ion-badge>
                            {{ exam.venue }}
                          </ion-badge>

                          <ion-badge class="small-margin-left">
                            {{ exam.assessmentType }}
                          </ion-badge>

                          <ion-badge class="small-margin-left">
                            {{ exam.duration | titlecase }}
                          </ion-badge>

                          <ion-text color="primary">
                            <h3 class="glob-text-bold">{{ exam.subjectDescription }} ({{exam.module}})</h3>
                          </ion-text>
                        </ion-col>
                        <ion-col size="12" class="ion-no-padding small-padding-left">
                          <ion-text color="medium">
                            <h5 class="glob-text-bold">{{ exam.since | dateWithTimezone: 'EEEE, dd MMM y' }} @
                              {{ exam.since | dateWithTimezone: 'time' | slice: 0 :-8 }}
                              {{ exam.endDate ? '' : ' - ' + (exam.until | dateWithTimezone: 'time')}} </h5>
                          </ion-text>
                        </ion-col>

                        <ion-col size-xs="12" *ngIf="exam.questionReleaseDate">
                          <p>
                            <span class="glob-text-bold">Question Release Date:</span>
                            {{
                            exam.questionReleaseDate ? (exam.questionReleaseDate | dateWithTimezone: 'EEEE, dd MMM y')
                            + ' @ ' +
                            (exam.questionReleaseDate | dateWithTimezone: 'time' | slice: 0 :-8) : ''
                            }}
                          </p>
                        </ion-col>
                        <ion-col size-xs="12" *ngIf="exam.endDate">
                          <p>
                            <span class="glob-text-bold">End Date:</span>
                            {{ exam.endDate ? (exam.endDate | dateWithTimezone: 'EEEE, dd MMM y') + ' @ ' +
                            (exam.until | dateWithTimezone: 'time' | slice: 0 :-8) : '' }}
                          </p>
                        </ion-col>
                        <ion-col size-xs="12" *ngIf="exam.docketsDue">
                          <p>
                            <span class="glob-text-bold">Dockets Issuance (Week Of):</span>
                            {{ exam.docketsDue | date: 'EEE, dd MMM y' }}
                          </p>
                        </ion-col>
                        <ion-col size-xs="12" *ngIf="exam.appraisalsDue">
                          <p>
                            <span class="glob-text-bold">Appraisals Due:</span>
                            {{ exam.appraisalsDue | date: 'EEE, dd MMM y' }}
                          </p>
                        </ion-col>
                        <ion-col size-xs="12" *ngIf="exam.resultDate">
                          <p>
                            <span class="glob-text-bold">Expected Result Release Date:</span>
                            {{ exam.resultDate | date: 'EEE, dd MMM y' }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ng-container>

            <ng-template #noExams>
              <ion-card class="ion-no-margin">
                <ion-item-divider color="light" mode="md">
                  <ion-label class="glob-text-bold">
                    Exam Schedule - <span class="glob-primary-text">{{ intake }}</span>
                  </ion-label>
                  <ion-button fill="clear" size="small" slot="end" (click)="openIntakeSearch()">
                    Change
                  </ion-button>
                </ion-item-divider>

                <div class="ion-margin-top">
                  <message-with-svg imageUrl="assets/img/search_not_found.svg"
                    messageTitle="No Exam Schedule for {{ intake }}" [advancedMode]="true" wrapperSize="5"
                    wrapperOffset="4">
                    <div class="flex-container">
                      <ul class="list-txt-color">
                        <li>Make sure you have selected the right intake.</li>
                        <li>Make sure your exam schedule has been published</li>
                        <li>Try to refresh the page</li>
                      </ul>

                      <p>Still having issues? No worries! Just
                        <a tappable class="glob-text-bold" (click)="openFeedback()">REPORT</a>
                        it to us.
                      </p>
                    </div>
                  </message-with-svg>
                </div>
              </ion-card>
            </ng-template>
          </ng-container>

          <ng-template #loading>
            <ion-card class="ion-no-margin">
              <ion-item-divider color="light" mode="md">
                <ion-label class="glob-text-bold">
                  Exam Schedule
                </ion-label>
                <ion-button fill="clear" size="small" slot="end" (click)="openIntakeSearch()">
                  Change
                </ion-button>
              </ion-item-divider>

              <ion-card-content class="ion-no-padding" *ngFor="let _ of skeletons; let isLast = last">
                <ion-item [lines]="!isLast ? 'full' : 'none'">
                  <ion-label class="glob-white-space-normal">
                    <ion-row class="ion-no-padding">
                      <ion-col size-xs="12">
                        <p>
                          <ion-skeleton-text animated style="height: 20px; width: 40%;"></ion-skeleton-text>
                        </p>
                      </ion-col>
                      <ion-col size-xs="12">
                        <p>
                          <ion-skeleton-text animated style="height: 20px; width: 60%;"></ion-skeleton-text>
                        </p>
                      </ion-col>
                      <ion-col size-xs="12">
                        <p>
                          <ion-skeleton-text animated style="height: 20px; width: 50%;"></ion-skeleton-text>
                        </p>
                      </ion-col>
                      <ion-col size-xs="12">
                        <p>
                          <ion-skeleton-text animated style="height: 20px; width: 40%;"></ion-skeleton-text>
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-container>

        <ng-template #noIntake>
          <ion-card class="ion-no-margin">
            <ion-item-divider color="light" mode="md">
              <ion-label class="glob-text-bold">
                No Intake
              </ion-label>
              <ion-button fill="clear" size="small" slot="end" (click)="openIntakeSearch()">
                Change
              </ion-button>
            </ion-item-divider>

            <div class="ion-margin-top">
              <message-with-svg messageTitle="No Intake Selected!"
                messageContent="Select an Intake to view the exam schedule."
                imageUrl="assets/img/person_with_selection.svg">
              </message-with-svg>
            </div>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
