.small-padding-left {
  padding-left: 5px;
}

.small-margin-left {
  margin-left: 5px;
}

// No Exam Schedule UI Stylings
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-txt-color {
  color: var(--ion-color-tertiary);
}

.notice-card {
  background-color: rgba(var(--ion-color-danger-rgb), 0.2);
  border: 2px solid;
  border-color: var(--ion-color-danger);
}

