<ion-content class="dashboard-page">
  <ion-refresher slot="fixed" pullMax="400" pullMin="60 " (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-card class="no-border-rad profile-card">
      <div class="profile-container">
        <div class="profile-item">
          <ion-avatar tappable="true" class="ion-margin avatar" (click)="navigateToPage('profile')">
            <!-- Student Profile Picture -->
            <ng-container *ngIf="isStudent; else staffImage">
              <ng-container *ngIf="!hideProfilePicture; else hidePicture">
                <ion-img #image [src]="photo$ | async" (ionError)="image.src = 'assets/img/no_avatar.png'"></ion-img>
              </ng-container>
            </ng-container>
            <!-- Staff Profile Picture -->
            <ng-template #staffImage>
              <ng-container *ngIf="!hideProfilePicture; else hidePicture">
                <ng-container *ngIf="staffProfile$ | async as staffProfile">
                  <ion-img #image [src]="staffProfile[0].PHOTO" (ionError)="image.src = 'assets/img/no_avatar.png'">
                  </ion-img>
                </ng-container>
              </ng-container>
            </ng-template>
            <!-- When user enables "Hide Profile Picture" in settings -->
            <ng-template #hidePicture>
              <img src="assets/img/no_avatar.png" alt="Profile" />
            </ng-template>
          </ion-avatar>
        </div>
        <!--Profile Title-->
        <div class="profile-item profile-title">
          <ion-row>
            <ion-col>
              <ion-card-title class="ion-text-md-left ion-text-lg-left ion-text-sm-center" color="primary"
                (click)="navigateToPage('profile')" tappable="true">
                {{ isStudent ? (userProfile.NAME | uppercase) : (userProfileName$ | async | uppercase) }}
              </ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="(userProfile.STUDENT_NUMBER) || (!isStudent && userProfile.TITLE); else loadingCardSubtitle">
                {{
                isStudent
                ? userProfile.STUDENT_NUMBER + " | " + userProfile.INTAKE
                : (userProfile.TITLE | titlecase)
                }}
              </div>
              <ng-template #loadingCardSubtitle>
                <ion-skeleton-text class="loading-margin-auto" animated style="line-height: 15px; width: 200px;">
                </ion-skeleton-text>
              </ng-template>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ng-container *ngIf="(userVaccinationInfo$ | async) as userVaccinationStatus; else loadingVaccination">
                <ng-container *ngIf="(userVaccinationStatus | keyvalue)?.length else neutral">
                  <div [routerLink]="['/covid-forms']">
                    <!--Low Risk Status-->
                    <div class="covid-risk-status covid-info-yellow" *ngIf="userVaccinationStatus.status_color === 'Yellow'">
                        <img class="covid-info-icon" src="assets/img/covid-icon.png" alt="COVID-19 Icon">
                        Low Risk
                    </div>
    
                    <!--Expired Status-->
                    <div class="covid-risk-status covid-info-blue" *ngIf="userVaccinationStatus.status_color === 'Blue'">
                      <img class="covid-info-icon" src="assets/img/covid-icon.png" alt="COVID-19 Icon">
                      Update Result
                    </div>
    
                    <!--High Risk Status-->
                    <div class="covid-risk-status covid-info-red" *ngIf="userVaccinationStatus.status_color === 'Red'">
                      <img class="covid-info-icon" src="assets/img/covid-icon.png" alt="COVID-19 Icon">
                      High Risk
                    </div>
                  </div>
                </ng-container>
              </ng-container>
    
              <ng-template #neutral>
                <!--Neutral Status-->
                <div class="covid-risk-status covid-info-neutral" [routerLink]="['/covid-information-form']">
                  <img class="covid-info-icon" src="assets/img/covid-icon.png" alt="COVID-19 Icon">
                  No Status
                </div>
              </ng-template>
    
              <ng-template #loadingVaccination>
                <ion-skeleton-text class="loading-margin-auto" animated style="line-height: 15px; width: 100px;">
                </ion-skeleton-text>
              </ng-template>
            </ion-col>
          </ion-row>
        </div>
        <!--Profile Icons-->
        <div class="profile-item ion-margin-vertical">
          <ion-button class="container" color="light" fill="clear" (click)="navigateToPage('/settings')">
            <ion-icon name="settings-outline" color="medium" size="large"></ion-icon>
          </ion-button>
          <ion-button class="container" color="light" fill="clear" (click)="navigateToPage('/notifications')">
            <ion-badge class="notification-badge" slot="end" *ngIf="numberOfUnreadMsgs > 0" color="danger">
              {{ numberOfUnreadMsgs }}
            </ion-badge>
            <ion-icon color="medium" size="large" name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-button class="container" color="light" fill="clear" (click)="logout()">
            <ion-icon slot="icon-only" color="medium" size="large" name="log-out-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <ng-container *ngIf="orientationStudentDetails$ | async as announcement">
        <ng-container *ngIf="showAnnouncement">
          <img class="orientation-image" src="assets/img/e-orientation.jpg" button [routerLink]="['/', 'profile']"
            router-direction="forward" />
        </ng-container>
      </ng-container>
    </ion-card>

    <ion-row>
      <ion-col size-xs="12" class="dash-padding" [attr.size-md]="activeDashboardSections.length > 0 ? 5 : 7"
        [class.glob-margin-auto]="activeDashboardSections.length <= 0">
        <!-- Quick Access Card -->
        <ion-card class="quick-access-buttons ion-no-margin no-border-rad">
          <ion-card-header class="ion-padding">
            <ion-card-title color="primary">Quick Access</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-justify-content-between">
              <ion-col *ngIf="isCapacitor" class="quick-access-item border-radius location" size-lg="5.8" size-md="12"
                size-xs="5.8" [routerLink]="['/apcard-qr-code']">
                <p>Update Location</p>
              </ion-col>
              <ion-col *ngIf="isStudent" class="quick-access-item border-radius attendance" size-lg="5.8" size-md="12"
                size-xs="5.8" [routerLink]="['/attendix/update']">
                <p>Sign Attendance</p>
              </ion-col>
              <ion-col *ngIf="isLecturer" class="quick-access-item border-radius attendance" size-lg="5.8" size-md="12"
                size-xs="5.8" [routerLink]="['/attendix/classes']">
                <p>Mark Attendance</p>
              </ion-col>
              <ion-col *ngIf="!isStudent" class="quick-access-item border-radius hr" size-lg="5.8" size-md="12"
                size-xs="5.8" [routerLink]="['/hr']">
                <p>Human Resources</p>
              </ion-col>
              <ion-col class="quick-access-item border-radius moodle" size-lg="5.8" size-md="12" size-xs="5.8"
                (click)="openMoodle()">
                <p>Moodle</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <!-- Inspirational Quote Card -->
        <ion-card *ngIf="!isStudent" class="ion-no-margin ion-margin-top no-border-rad">
          <ion-card-header>
            <ion-card-title color="primary">
              Inspirational Quote
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ng-container *ngIf="(quote$ | async) as quote; else loadingQuotes">
              <p *ngIf="quote.QUOTE">
                <span class="glob-text-bold">“</span>
                {{ quote.QUOTE }}
                <span class="glob-text-bold">”</span>
              </p>
              <h4 *ngIf="quote.AUTHOR" class="glob-text-bold ion-text-right">
                {{ quote.AUTHOR }}
              </h4>
            </ng-container>

            <ng-template #loadingQuotes>
              <p>
                <ion-skeleton-text style="width: 100%; line-height: 20px" animated></ion-skeleton-text>
                <ion-skeleton-text style="width: 100%; line-height: 20px" animated></ion-skeleton-text>
                <ion-skeleton-text style="width: 60%; line-height: 20px" animated></ion-skeleton-text>
              </p>
              <h4 class="ion-text-right">
                <ion-skeleton-text class="ion-float-right" style="width: 30%; line-height: 25px" animated>
                </ion-skeleton-text>
              </h4>
            </ng-template>
          </ion-card-content>
        </ion-card>

        <!-- My Schedule Card -->
        <ion-card class="todays-schedule ion-no-margin ion-margin-top no-border-rad">
          <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
            <ion-card-title color="primary">My Schedule</ion-card-title>
          </ion-card-header>

          <div class="ion-margin-top ion-margin-bottom">
            <ion-segment class="ion-no-margin" [(ngModel)]="scheduleSegment" scrollable="true">
              <ion-segment-button value="today">
                <ion-label>Today</ion-label>
              </ion-segment-button>
              <ion-segment-button value="upcoming">
                <ion-label>Upcoming</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>

          <ion-card-content class="ion-no-padding">
            <ng-container [ngSwitch]="scheduleSegment">
              <ng-container *ngSwitchCase="'today'">
                <ng-container *ngIf="(todaysSchedule$ | async) as todaysScheduleList; else loadingTodaysSchedule">
                  <div class="todays-schedule-container"
                    *ngIf="todaysScheduleList.length > 0; else noTodaysScheduleList">
                    <div *ngFor="let event of todaysScheduleList">
                      <div class="event-container" [ngClass]="{
                            'passed-event': event.pass,
                            'no-hover': event.pass,
                            'class-type': event.type === 'class',
                            'iconsult-type': event.type === 'iconsult'
                          }">
                        <h2 class="colored-with-type glob-text-bold">
                          {{ event.dateOrTime | timeParser: timeFormatChangeFlag: true }} -
                          {{ event.thirdDescription | timeParser: timeFormatChangeFlag: true }}
                        </h2>
                        <p class="glob-text-bold">
                          <ion-text color="medium">
                            {{ event.title }}
                          </ion-text>
                        </p>
                        <ion-grid class="ion-no-padding">
                          <ion-row class="info-item">
                            <ion-col size="auto" class="ion-no-padding">
                              <ion-icon class="ion-no-margin small-margin colored-with-type" size="small"
                                name="location-outline"></ion-icon>
                            </ion-col>
                            <ion-col class="ion-no-padding">
                              <p>
                                <ion-text class="ion-no-margin">{{
                                  event.firstDescription
                                  }}</ion-text>
                              </p>
                            </ion-col>
                          </ion-row>
                          <ion-row class="info-item" *ngIf="event.secondDescription">
                            <ion-col size="auto" class="ion-no-padding">
                              <ion-icon class="ion-no-margin small-margin colored-with-type" size="small" name="person">
                              </ion-icon>
                            </ion-col>
                            <ion-col class="ion-no-padding">
                              <p>
                                <ion-text class="ion-no-margin">{{
                                  event.secondDescription
                                  }}</ion-text>
                              </p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>
                  <div class="ion-padding">
                    <p *ngIf="isStudent">
                      <ion-text color="danger">
                        *Intake Selected:
                        {{ timetableDefaultIntake ? timetableDefaultIntake : 'N/A'}}
                      </ion-text>
                    </p>

                    <p *ngIf="isStudent">
                      <ion-text color="danger">
                        *Intake Group Selected:
                        {{ intakeGroup ? intakeGroup : 'All' }}
                      </ion-text>
                    </p>
                  </div>
                  <ng-template #noTodaysScheduleList>
                    <message-with-svg imageUrl="assets/img/empty2.svg" messageTitle="The list is empty!" wrapperSize="6"
                      wrapperOffset="3" messageContent="Either no items to show for today, or the list has finished">
                    </message-with-svg>
                  </ng-template>
                </ng-container>
                <ng-template #loadingTodaysSchedule>
                  <div *ngFor="let _ of skeletons" class="ion-padding-start ion-padding-end ion-padding-top">
                    <div class="event-container">
                      <h2>
                        <ion-skeleton-text animated style="width: 45%; line-height: 25px"></ion-skeleton-text>
                      </h2>
                      <p>
                        <ion-skeleton-text animated style="width: 70%; line-height: 17px; margin-bottom: 5px;">
                        </ion-skeleton-text>
                      </p>
                      <ion-grid class="ion-no-padding">
                        <ion-row class="info-item ion-padding-start ion-padding-end">
                          <ion-col size="12" class="ion-no-padding">
                            <p>
                              <ion-skeleton-text animated style="width: 85%; line-height: 15px"></ion-skeleton-text>
                            </p>
                          </ion-col>
                          <ion-col size="12" class="ion-no-padding">
                            <p>
                              <ion-skeleton-text animated style="width: 85%; line-height: 15px"></ion-skeleton-text>
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </div>
                </ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="'upcoming'">
                <ng-container *ngIf="
                      upcomingEvent$ | async as upcomingEvents;
                      else loadingupcomingEvents
                    ">
                  <div class="todays-schedule-container" *ngIf="upcomingEvents.length > 0; else noUpcomingEvents">
                    <div *ngFor="let event of upcomingEvents">
                      <div class="event-container" [ngClass]="{
                            'passed-event': event.pass,
                            'no-hover': event.pass,
                            'class-type': event.type === 'class',
                            'iconsult-type': event.type === 'iconsult',
                            'exam-type': event.type === 'exam',
                            'holiday-type': event.type === 'holiday',
                            'moodle-type': event.type === 'moodle'
                          }">
                        <h2 class="colored-with-type glob-text-bold">
                          {{ event.dateOrTime }}
                        </h2>
                        <p class="glob-text-bold colored-with-type">
                          <ion-text color="medium">
                            {{ event.title }}
                          </ion-text>
                        </p>
                        <ion-grid class="ion-no-padding">
                          <ion-row class="info-item">
                            <ion-col size="auto" class="ion-no-padding">
                              <ion-icon class="ion-no-margin small-margin colored-with-type" size="small"
                                [name]=" event.type === 'exam' ? 'location-outline' : 'time-outline'">
                              </ion-icon>
                            </ion-col>
                            <ion-col class="ion-no-padding">
                              <p>
                                <ion-text class="ion-no-margin">{{
                                  event.firstDescription
                                  }}</ion-text>
                              </p>
                            </ion-col>
                            <ion-col size="auto" class="ion-no-padding" *ngIf="event.type === 'moodle'">
                              <div (click)="openMoodleEvent(event.moodleCourseId)">
                                <ion-icon size="small" class="ion-no-margin small-margin colored-with-type" tappable
                                  name="open-outline">
                                </ion-icon>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row class="info-item" *ngIf="event.type === 'exam'">
                            <ion-col size="auto" class="ion-no-padding">
                              <ion-icon class="ion-no-margin small-margin colored-with-type" size="small"
                                name="time-outline">
                              </ion-icon>
                            </ion-col>
                            <ion-col class="ion-no-padding">
                              <p>
                                <ion-text class="ion-no-margin">
                                  {{ event.secondDescription | timeParser: timeFormatChangeFlag: true }}
                                  -
                                  {{ event.thirdDescription | timeParser: timeFormatChangeFlag: true }}
                                </ion-text>
                              </p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </div>
                  <ng-template #noUpcomingEvents>
                    <message-with-svg imageUrl="assets/img/empty2.svg" messageTitle="The list is empty!" wrapperSize="6"
                      wrapperOffset="3" messageContent="Either no items to show for today, or the list has finished">
                    </message-with-svg>
                  </ng-template>
                </ng-container>
                <ng-template #loadingupcomingEvents>
                  <div *ngFor="let _ of skeletons" class="ion-padding-start ion-padding-end ion-padding-top">
                    <div class="event-container">
                      <h2>
                        <ion-skeleton-text animated style="width: 45%; line-height: 25px"></ion-skeleton-text>
                      </h2>

                      <p>
                        <ion-skeleton-text animated style="width: 70%; line-height: 17px; margin-bottom: 5px;">
                        </ion-skeleton-text>
                      </p>

                      <ion-grid class="ion-no-padding">
                        <ion-row class="info-item ion-padding-start ion-padding-end">
                          <ion-col size="12" class="ion-no-padding">
                            <p>
                              <ion-skeleton-text animated style="width: 85%; line-height: 15px"></ion-skeleton-text>
                            </p>
                          </ion-col>
                          <ion-col size="12" class="ion-no-padding">
                            <p>
                              <ion-skeleton-text animated style="width: 85%; line-height: 15px"></ion-skeleton-text>
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="activeDashboardSections.length > 0" size-xs="12" size-md="7"
        class="dash-padding dash-padding-bottom">
        <!-- Slideshow -->
        <section class="ion-margin-bottom" *ngIf="activeDashboardSections.includes('noticeBoard')">
          <app-notice-board></app-notice-board>
        </section>

        <!-- News Card -->
        <ion-card class="ion-no-margin ion-margin-bottom no-border-rad"
          *ngIf="activeDashboardSections.includes('news')">
          <ion-card-header>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-card-title color="primary">News</ion-card-title>
              </ion-col>
              <ion-col class="ion-text-right clickable" routerLink="/news">
                Show more
              </ion-col>
            </ion-row>
          </ion-card-header>


          <ng-container *ngIf="news$ | async as news; else loadingNews">
            <ng-container *ngIf="news.length > 0; else noNews">
              <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-col *ngFor="let newsItem of news">
                  <ion-item detail="true" button="true" lines="none" (click)="newsDetails(newsItem)">
                    <ion-thumbnail slot="start">
                      <img [src]="newsItem.url" />
                    </ion-thumbnail>
                    <ion-label>
                      <ion-text class="news-title">
                        <h3 class="ion-text-wrap glob-text-bold" [innerHTML]="newsItem.title"></h3>
                      </ion-text>
                      <p class="news-posted-time">
                        Posted on {{ newsItem.updated | dateWithTimezone: 'dd MMM yy' }}
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
          <ng-template #loadingNews>
            <ion-row class="ion-align-items-center ion-margin-horizontal">
              <ion-col *ngFor="let _ of skeletons" size="6" size-lg="6" size-md="12" size-sm="6" size-xs="12">
                <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ng-template>
          <ng-template #noNews>
            <message-with-svg wrapperSize="6" wrapperOffset="3" imageUrl="assets/img/empty.svg"
              messageTitle="No News Found!" messageContent="No News Available to show">
            </message-with-svg>
          </ng-template>
        </ion-card>

        <!--Bus Schedule Card-->
        <ion-card class="ion-no-margin ion-margin-bottom no-border-rad"
          *ngIf="activeDashboardSections.includes('upcomingTrips')">
          <ion-card-header class="ion-padding">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-card-title color="primary">Upcoming Trips</ion-card-title>
              </ion-col>
              <ion-col class="ion-text-right clickable" routerLink="/bus-shuttle-services">Show more</ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <!--First Row-->
            <ng-container *ngIf="(upcomingTrips$ | async) as upcomingTrips; else loadingTrips">
              <ng-container *ngIf="!showSetLocationsSettings; else locationsSettings">
                <ng-container *ngIf="upcomingTrips.length > 0; else noTrips">
                  <div *ngFor="let trip of upcomingTrips">
                    <ion-row class="ion-margin-bottom bus-timing-container">
                      <!--Indicates Title and Bus Timing-->
                      <ion-col class="bus-border" [style.borderLeft]="'1rem solid ' + trip.trip_from_color"
                        style="border-radius: 5px 0 0 5px">
                        <div class="ion-padding">
                          <h3 class="locations glob-text-bold">
                            <span class="ion-padding-end">
                              {{ trip.trip_from }}
                            </span>
                            <ion-icon name="caret-forward-outline" class="ion-padding-end"></ion-icon>
                            <span>
                              {{ trip.trip_to }}
                            </span>
                          </h3>
                          <p class="timings">
                            <span class="ion-padding-end current-timing glob-text-bold" *ngIf="trip.times[0]">
                              {{ trip.times[0].slice(0, -8) }}
                            </span>
                            <span class="ion-padding-end timing glob-text-bold" *ngIf="trip.times[1]">
                              {{ trip.times[1].slice(0, -8) }}
                            </span>
                            <span class="ion-padding-end timing glob-text-bold" *ngIf="trip.times[2]">
                              {{ trip.times[2].slice(0, -8) }}
                            </span>
                            <span class="ion-padding-end timing glob-text-bold" *ngIf="trip.times[3]">
                              {{ trip.times[3].slice(0, -8) }}
                            </span>
                          </p>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ng-container *ngIf="upcomingTrips.length < 2">
                      <ion-row class="ion-margin-bottom bus-timing-container">
                        <!--Indicates Title and Bus Timing-->
                        <ion-col class="bus-border" [style.borderLeft]="'1rem solid ' + trip.trip_to_color"
                          style="border-radius: 5px 0 0 5px">
                          <div class="ion-padding bus-timing-container">
                            <h3 class="locations glob-text-bold">
                              <span class="ion-padding-end">{{trip.trip_to}}</span>
                              <ion-icon name="caret-forward-outline" class="ion-padding-end"></ion-icon>
                              <span>{{trip.trip_from}}</span>
                            </h3>
                            <p>
                              <span class="ion-padding-end latest-time">No more trips available for this
                                destination</span>
                            </p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </div>
                  <p>
                    <ion-text class="glob-text-bold">Note:</ion-text> All the trips are displayed in Malaysian Timezone.
                  </p>
                </ng-container>
                <ng-template #noTrips>
                  <message-with-svg messageTitle="No trips available"
                    messageContent="No available trips for the selected destination." imageUrl="assets/img/sad.svg"
                    wrapperOffset="3" wrapperSize="6">
                  </message-with-svg>
                </ng-template>
              </ng-container>
              <ng-template #locationsSettings>
                <message-with-svg messageTitle="Choose Locations to view the upcoming trips from/to those locations!"
                  messageContent="You can configure this section from the settings page, under the bus shuttle services card."
                  imageUrl="assets/img/config.svg" wrapperOffset="3" wrapperSize="6">
                </message-with-svg>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10" offset="1">
                      <ion-button routerLink="/settings" routerDirection="forward" class="colored-background"
                        expand="block">
                        Open Settings
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ng-template>
            </ng-container>
            <ng-template #loadingTrips>
              <ng-container *ngFor="let _ of transixSkeleton">
                <ion-row class="ion-margin-bottom bus-timing-container">
                  <!--Indicates Title and Bus Timing-->
                  <ion-col size="12" class="bus-border" [style.borderLeft]="'1rem solid #393939'"
                    style="border-radius: 5px 0 0 5px">
                    <div class="ion-padding bus-timing-container">
                      <h3 class="locations glob-text-bold">
                        <span class="ion-padding-end">
                          <ion-skeleton-text style="width: 30%; height: 15px;" animated></ion-skeleton-text>
                        </span>
                      </h3>
                      <p class="timings">
                        <span class="timing-1 glob-text-bold">
                          <ion-skeleton-text style="width: 50%; height: 15px;" animated></ion-skeleton-text>
                        </span>
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-template>
          </ion-card-content>
        </ion-card>

        <!-- Contacts Card -->
        <ion-card class="ion-no-margin ion-margin-bottom no-border-rad"
          *ngIf="activeDashboardSections.includes('contacts') && isStudent">
          <ion-card-header>
            <ion-card-title color="primary">
              Contacts
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-grid class="ion-no-padding ion-no-margin">
              <ng-container *ngIf="(lecturerContacts$ | async) as lecturerContacts; else loadingContacts">
                <ng-container *ngIf="lecturerContacts.length > 0; else noContacts">
                  <ion-row class="contacts-row ion-padding" *ngFor="let contact of lecturerContacts"
                    (click)="chatTeams(contact.EMAIL)">
                    <ion-col size="1.4" size-xl="1" class="ion-align-self-center">
                      <ion-icon class="contacts-icon" name="people-circle-outline"></ion-icon>
                    </ion-col>
                    <ion-col size="9.6" size-xl="10">
                      <ion-row>
                        <ion-col size="9.6" size-xl="10">
                          <h3 class="glob-text-bold contacts-lecturer-name">
                            {{ contact.NAME }}
                          </h3>
                        </ion-col>
                        <ion-col size="9.6" size-xl="10">
                          <p class="ion-text-uppercase">
                            {{ contact.MODULE_NAME }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="1" class="ion-align-self-center">
                      <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ng-container>

                <ng-template #noContacts>
                  <div class="ion-margin-bottom ion-margin-horizontal">
                    <message-with-svg messageTitle="No available contacts"
                      messageContent="You have got no ongoing classes in your intake. Contacts are shown based on your intake classes."
                      imageUrl="assets/img/no-contacts.svg" wrapperOffset="3" wrapperSize="6">
                    </message-with-svg>
                  </div>
                </ng-template>
              </ng-container>

              <ng-template #loadingContacts>
                <div class="ion-padding">
                  <ion-skeleton-text class="ion-margin-top ion-margin-bottom" style="width: 100%; line-height: 30px;"
                    animated></ion-skeleton-text>
                  <ion-skeleton-text class="ion-margin-top ion-margin-bottom" style="width: 100%; line-height: 30px;"
                    animated></ion-skeleton-text>
                  <ion-skeleton-text class="ion-margin-top ion-margin-bottom" style="width: 100%; line-height: 30px;"
                    animated></ion-skeleton-text>
                  <ion-skeleton-text class="ion-margin-top ion-margin-bottom" style="width: 100%; line-height: 30px;"
                    animated></ion-skeleton-text>
                </div>
              </ng-template>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <!-- APCard Chart Card -->
        <ion-card class="ion-no-margin ion-margin-bottom no-border-rad"
          *ngIf="activeDashboardSections.includes('apcard')">
          <ng-container *ngIf="apcardTransaction$ | async">
            <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
              <ion-card-subtitle>
                {{
                currentBalance !== -1
                ? "Balance: " + (currentBalance | currency: "MYR":"RM")
                : "Balance: --"
                }}
              </ion-card-subtitle>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-card-title color="primary">APCard</ion-card-title>
                </ion-col>
                <ion-col class="ion-text-right clickable" routerLink="/apcard">Show more</ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart [type]="'line'" [options]="apcardChart.options" [data]="apcardChart.data">
              </canvas>
            </ion-card-content>
          </ng-container>
        </ion-card>

        <!-- Financial Chart Card -->
        <ion-card class="ion-no-margin ion-margin-bottom no-border-rad"
          *ngIf="activeDashboardSections.includes('financials')">
          <ng-container *ngIf="financial$ | async as financialSummary">
            <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
              <ion-card-subtitle>
                {{
                "Overdue: " +
                (financialSummary[0].TOTAL_OVERDUE | currency: "MYR":"RM")
                }}
              </ion-card-subtitle>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-card-title color="primary">Financial</ion-card-title>
                </ion-col>
                <ion-col class="ion-text-right clickable" routerLink="/fees">Show more</ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart [type]="'bar'" [options]="financialsChart.options" [data]="financialsChart.data">
              </canvas>
            </ion-card-content>
          </ng-container>
        </ion-card>

        <!-- CGPA Chart Card -->
        <ion-card class="ion-no-margin no-border-rad" *ngIf="activeDashboardSections.includes('cgpa')">
          <ng-container *ngIf="cgpaPerIntake$ | async">
            <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-card-title color="primary">CGPA Per Intake</ion-card-title>
                </ion-col>
                <ion-col class="ion-text-right clickable" routerLink="/results">Show more</ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart [type]="'bar'" [options]="cgpaChart.options" [data]="cgpaChart.data">
              </canvas>
            </ion-card-content>
          </ng-container>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
