.clickable {
  cursor: pointer;
}

// Profile Content
.profile-card {
  background: transparent;
  margin: 0 1rem;

  .profile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin: 8px 0;

    .profile-title {
      margin-right: auto;

      .covid-risk-status {
        width: fit-content;
        padding: 0.35rem 0.65rem;
        display: flex;
        justify-content: center;        
        align-items: center;
        gap: 7px;
        border-radius: 15px;
        color: black;
        font-size: 11px;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 1px 2px;
        cursor: pointer;

        .covid-info-icon {
          width: 15px;
        }
      }

      .covid-info-neutral {
        background: var(--ion-color-medium);
      }
    
      .covid-info-yellow {
        background: #FFDE8E url("/assets/img/covid-info/covid-1.png") no-repeat right;
      }
    
      .covid-info-blue {
        background: #8EB5FF url("/assets/img/covid-info/covid-2.png") no-repeat right;
      }
    
      .covid-info-red {
        background: #FF8E8E url("/assets/img/covid-info/covid-3.png") no-repeat right;
      }
    }

    .avatar {
      width: 80px;
      height: 80px;
      transition: 0.5s all;
      border: 2px solid var(--ion-color-primary);
      padding: 3px;

      &:hover {
        padding: 1px;
      }
    }

    .notification-badge {
      position: absolute;
      top: 0;
      right: -4px;
      z-index: 100;
      font-size: 0.8em;
      padding: 3px 3px 3px 4px;
    }
  }

  .orientation-image {
    width: 40%;
  }
}

.loading-margin-auto {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .loading-margin-auto {
    margin: auto;
  }
}
// Quick Access
.quick-access-item {
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--ion-color-primary);
    margin: .4rem 0;
    padding: 2rem 1.5rem;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;

    p {
      font-size: 1rem;
      color: #fff;
      font-weight: 900;
      z-index: 1;
    }

    &.attendance {
      background-image: url('/assets/img/attendance.svg');
    }

    &.location {
      background-image: url('/assets/img/update-location.svg');
    }

    &.hr {
      background-image: url('/assets/img/hr.svg');
    }

    &.moodle {
      background-image: url('/assets/img/moodle.svg');
    }

    &:hover {
      background-size: auto 85%;
      transition: all 0.5s ease;
    }
}


.border-radius {
  border-radius: 15px !important;
}

// Today's Schedule
.todays-schedule {
  .todays-schedule-container {
    .event-container {
      padding: 10px;
      transition: all 0.2s ease;
      border-left: 3px solid;
      border-bottom: 1px solid var(--ion-color-step-100);

      &.class-type {
        border-left-color: #8eaf2d;

        .colored-with-type {
          color: #8eaf2d;
        }

        .description a {
          color: #8eaf2d;
        }
      }

      &.iconsult-type {
        border-left-color: #54acd2;

        .colored-with-type {
          color: #54acd2;
        }

        .description a {
          color: #54acd2;
        }
      }

      &.exam-type {
        border-left-color: var(--ion-color-danger);

        .colored-with-type {
          color: var(--ion-color-danger);
        }

        .description a {
          color: var(--ion-color-danger);
        }
      }

      &.holiday-type {
        border-left-color: var(--ion-color-warning);

        .colored-with-type {
          color: var(--ion-color-warning);
        }

        .description a {
          color: var(--ion-color-warning);
        }
      }

      &.passed-event {
        border-left-color: #a1a1a1;

        .colored-with-type {
          color: #a1a1a1;
        }
      }

      &.moodle-type {
        border-left-color: #f48c06;

        .colored-with-type {
          color: #f48c06;
        }

        .description a {
          color: #f48c06;
        }
      }

      .info-item {
        margin-top: 9px;

        .small-margin {
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      &:hover {
        border-left-width: 10px;
      }
    }
  }
}

// News
.news-title {
  color: var(--ion-color-step-550);
}

.news-posted-time {
  font-size: .8rem;
  margin-top: .2rem;
}

// Upcoming Trips
.locations {
  font-size: 1.2em;
}

.bus-timing-container {
  border: 1px solid var(--ion-border-color);
  border-radius: 10px;
  box-shadow: var(--ion-shadow) 0 3px 1px 1px, var(--ion-shadow) 0 2px 2px 0, var(--ion-shadow) 0 5px 10px 0 !important;

  .bus-border {
    border-radius: 5px 20px 20px 0;
  }

  .current-timing {
    font-size: 1.2em;
  }

  .timing {
    opacity: 0.6;
  }
}

.covid-info-card {
  color: #000000;

  .covid-info-title {
    color: #000000 !important;
  }

  .covid-info-status {
    font-size: 1.2rem;
  }
}

// Contacts
.contacts-row {
  cursor: pointer;

  .contacts-icon {
    font-size: 2rem;
  }

  .contacts-lecturer-name {
    font-size: 1.2em;
  }
}

.contacts-row:hover {
  background-color: var(--ion-color-light);
}

// Global classes
.dash-padding {
  padding: 0 1em 0 1em;
}

.dash-padding-bottom {
  padding-bottom: 1em;
}

@media screen and (max-width: 720px) {
  .dash-padding {
    padding: 1em 0 0 0;
    border-radius: 0;
  }

  .dash-padding-bottom {
    padding-bottom: 1em;
  }

  .no-border-rad {
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 720px) {
  .profile-card {
    margin: 1rem 0 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .profile-card {
    background: var(--ion-item-background);
    margin: 1rem;

    .profile-container {
      flex-direction: column;

      .profile-title {
        margin: 5px;
        text-align: center;

        .covid-risk-status {
          margin: auto;
        }

      }
    }

    .orientation-image {
      width: 100% !important;
    }
  }
}

@media screen and (min-width: 769px) {
  .profile-card {
    box-shadow: none !important;
  }
}
